header {
  text-align: center;
  background-color: #00008B;
  color: white;

  }
  header img {
    height: 20%;
    width: 20%;
  }
  header p {
    font-style: italic;
    font-size: 25px;
    background-color: #00008B;
  }
  .s1 {
    background-color: #191970;
    margin-left: 280px;
    display: inline-block;
    padding-right: 808px;
    height: 570px;
    color: white;


  }
  .s2 {
    background-color: #8470FF;
    position: absolute;
    text-align: center;
    display: inline-block;
  }
  .s1 h3, h4 {
  text-decoration: underline;
  font-size: 19px;
}
